<div class='container'>
  <div class='row mt-3'>
    <div class='col-md-3 m-4 text-center'>
      <h4>投稿詳細</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <tr>
        <td><%= attachment_image_tag @recruitment, :store_image, size:'300x250' %></td>
      </tr>
    </div>
    <div class="col-md-8 text-cenetr">
      <table class="table">
        <tr>
          <td>タイトル</td>
          <td><%= @recruitment.title %></td>
        </tr>

        <tr>
          <td>店舗名</td>
          <td><%= @recruitment.store_name %></td>
        </tr>

        <tr>
          <td>店舗住所</td>
          <td><%= @recruitment.store_address %></td>
        </tr>

        <tr>
          <td>コメント</td>
          <td><%= @recruitment.body %></td>
        </tr>
      </table>
    </div>
  </div>
   <div class="row justify-content-end  mt-4">
    <div class="col-4">
      <%= link_to "編集", edit_recruitment_path(@recruitment.id), class: "btn btn-primary" %>
    </div>
    </div>
</div>