<div class='container'>
  <div class='row mt-3'>
    <div class='col-md-3 m-4 text-center'>
      <h4>投稿詳細</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <td><%= attachment_image_tag @recruitment, :store_image, size:'250x200',fallback: "no_image2.png" %></td>
    </div>
    <div class="col-md-7">
      <table class="table">
        <tr>
          <td>タイトル</td>
          <td><%= @recruitment.title %></td>
        </tr>

        <tr>
          <td>店舗名</td>
          <td><%= @recruitment.store_name %></td>
        </tr>

        <tr>
          <td>店舗住所</td>
          <td><%= @recruitment.store_address %></td>
        </tr>

        <tr>
          <td>ジャンル</td>
          <td><%= @recruitment.genre %></td>
        </tr>

        <tr>
          <td>コメント</td>
          <td><%= @recruitment.body %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-end  mt-4">
    <div class="col-2">
      <%= link_to "戻る", recruitments_path, class: "btn btn-secondary" %>
    </div>
    <div class="col-2">
      <% if @recruitment.user == current_user %>
        <%= link_to "編集", edit_recruitment_path(@recruitment.id), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-2">
      <% if current_user != @user %>
        <%= link_to 'メッセージを送る', message_path(@user.id), class:"btn  btn-success chat-btn" %>
      <% end %>
    </div>
    </div>
  </div>
</div>