<div class='container'>
  <div class='row mt-3'>
    <div class='col-md-3 m-4 text-center'>
      <h4>マイページ</h4>
    </div>
  </div>

   <div class='row'>
    <div class='col-md-12 mx-auto mt-3'>
      <%= form_with model: @user, url: user_path, local: true do |f| %>

        <!--画像-->
        <div class="row form-group">
          <%= f.label "画像", class: "col-form-label col-md-3" %>
          <%= f.attachment_field :user_image, class: "col-sm-7" %>
        </div>

        <!--名前-->
        <div class="row form-group">
          <%= f.label "名前", class: "col-form-label col-md-3" %>
          <%= f.label :last_name, "(姓)", class: "col-form-label col-sm-1" %>
          <%= f.text_field :last_name, autofocus: true, class: "form-control col-sm-3" %>
          <%= f.label :first_name, "(名)", class: "col-form-label col-sm-1" %>
          <%= f.text_field :first_name, class: "form-control col-sm-3" %>
        </div>

        <!--フリガナ-->
        <div class="row form-group">
          <%= f.label "フリガナ", class: "col-form-label col-md-3" %>
          <%= f.label :last_name_kana, "(セイ)", class: "col-form-label col-sm-1" %>
          <%= f.text_field :last_name_kana, class: "form-control col-sm-3" %>
          <%= f.label :first_name_kana, "(メイ)", class: "col-form-labwl col-sm-1" %>
          <%= f.text_field :first_name_kana, class: "form-control col-sm-3" %>
        </div>

        <!--アカウントメイ-->
        <div class="row form-group">
          <%= f.label :account_name, "アカウント名", class: "col-form-label col-md-4" %>
          <%= f.text_field :account_name, class: "form-control col-sm-3" %>
        </div>

        <!--メールアドレス-->
        <div class="row form-group">
          <%= f.label :email, "メールアドレス", class: "col-form-label col-md-4" %>
          <%= f.email_field :email, :placeholder => "sample@example.com", class: "form-control col-sm-3" %>
        </div>

        <!--都道府県-->
        <div class="row form-group">
          <%= f.label :address, "住所（都道府県のみ）", class: "col-form-label col-md-4" %>
          <%= f.text_field :address, :placeholder => "東京都", class: "form-control col-sm-3" %>
        </div>

        <!--趣味-->
        <div class="row form-group">
          <%= f.label :hobby, "趣味", class: "col-form-label col-md-4" %>
          <%= f.text_area :hobby,:size => "20x5", class: "form-control col-sm-7" %>
        </div>

        <!--自己紹介文-->
        <div class="row form-group">
          <%= f.label :body, "自己紹介文", class: "col-form-label col-md-4" %>
          <%= f.text_area :body, :size => "20x5", class: "form-control col-sm-7" %>
        </div>

        <div class="row mt-4" style="display: flex">
          <div class="col-md-8"></div>
          <div class="col-md-2"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
          <div class="col-md-2"><%= link_to "退会する", unsubscribe_users_path, class: "btn btn-danger" %></div>
        </div>

      <% end %>

    </div>
  </div>

</div>
