<header class= "shadow-sm">
  <nav class= "navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'header_rogo.jpg', :size =>'200x80'%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id=navbarNavDropdown>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %><!--cutomerでログイン-->
            <li><!--通知機能ベル-->
              <%= link_to(notifications_path) do %>
                <% if unchecked_notifications.any? %>
                <span class="fa-stack">
                  <i class="fa fa-bell fa-lg mx-1 my-2" style="font-size: 2em; color:#ffd700; "></i>
                </span>
                <% else %>
                  <i class="far fa-bell fa-lg mx-2 my-2" style="font-size: 2em; color:black;"></i>
                <% end %>
              <% end %>
            </li>
            <li><%= link_to '募集投稿一覧',recruitments_path, class: 'btn btn-outline-dark mx-3 my-1' %> </li>
            <li><%= link_to 'DM一覧',rooms_users_path, class: 'btn btn-outline-dark mx-3 my-1' %> </li>
            <li><%= link_to 'マイページ',user_path(current_user.id), class: 'btn btn-outline-dark mx-3 my-1' %> </li>
            <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark mx-3 my-1' %> </li>
          <% else %><!--ログインされていない-->
            <li><%= link_to 'About', home_about_path, class: 'btn btn-outline-dark mx-3 my-1'%>
            <li><%= link_to '募集投稿一覧',recruitments_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
            <li><%= link_to '新規登録',new_user_registration_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
            <li><%= link_to 'ログイン',new_user_session_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>